@import 'variables';

.about-goal-short {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1rem;
  font-family: 'FuturaPTBook';
  color: $table-border;

  &--success {
    color: $button-color;
  }

  &__status-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__status-number {
    margin: 0;
  }

  &__goal-description {
    margin: 2px 0 1px;
    line-height: 1rem;
  }
}

@media (max-width: 950px) {
  .about-goal-short {
    &__status-block {
      justify-content: flex-start;
    }

    &__status-number {
      padding-right: 5px;
    }

    &__goal-description {
      max-width: inherit;
    }

    &__goal-status {
      padding: 0 5px;
    }
  }
}