.about-author {
  margin-top: .75rem;
  margin-bottom: 1.9rem;

  &__description {
    padding-top: 1.55rem;
    line-height: 1.63rem;
    font-family: 'FuturaPTBook';
    font-size: 1.38rem;
  }

  &__text {
    margin-top: .63rem;
    margin-bottom: 0;
  }

  &__text:first-child {
    margin-top: 1.38rem;    
  }

  &__img {
    float: right;
    padding: 0 0 50px 50px;
    min-width: 300px;
    min-height: 430px;
  }
}

@media (max-width: 830px) {
  .about-author {
    margin-top: 1rem;
    margin-bottom: 2.26rem;

    &__description {
      clear: right;
      padding-top: .8rem;
      line-height: 1.45rem;
      font-size: 1rem;
    }

    &__img {
      display: flex;
      justify-content: center;
      float: none;
      margin: 0 auto;
      padding: 0;
    }
  }
}

//забота об айфонах и прочих на 320
@media (max-width: 330px) {
  .about-author__img {
    min-width: 290px;
    width: 290px;
    min-height: 387px;
    height: 387px;
  }
}