@import 'variables';

.about-site {
  display: flex;
  flex-direction: column;

  &__section {
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
  }

  &__section:last-child {
    padding-bottom: 13px;
  }

  &__title {
    margin: 30px 0 6px;
    text-transform: uppercase;
    font-size: 1.63rem;
    font-family: 'FuturaPTHeavy';
  }

  &__text {
    margin: 0;
    padding: 5px 0;
    line-height: 1.75rem;
    font-family: 'FuturaPTBook';
    font-size: 1.25rem;
  }

  &__list {
    margin: .5rem 0 1.56rem;
    padding-left: 4.74rem;
    list-style: none;
    counter-reset: li;
  }

  &__item {
    position: relative;
    display: block;
    padding: 0 0 .75rem;
    line-height: 1.63rem;
    font-family: 'FuturaPTBook';
    font-size: 1.38rem;
  }

  &__item:before {
    position: absolute;
    left: -4.74rem;
    top: 3px;
    display: inline-block;
    border: 2px solid #9b7f68;
    border-radius: 2.9rem;
    margin-top: 0;
    width: 2.9rem;
    height: 2.9rem;
    list-style-type: decimal-leading-zero;
    text-align: center;
    line-height: 2.9rem;
    color: #9b7f68;
    font-weight: bold;
    font-size: 1.13rem;
    content: '0' counter(li);
    counter-increment: li;
  }
}

@media (max-width: 830px) {
  .about-site {
    &__section {
      padding-bottom: 5px;
    }

    &__title {
      margin-top: 1rem;
      margin-bottom: 0;
      line-height: 2.5rem;
      font-size: 1.13rem;
    }

    &__text {
      line-height: 1.46rem;
      font-size: 1rem;
    }

    &__list {
      margin: 0 0 1rem;
      padding-left: 4rem;
    }

    &__item {
      line-height: 1.44rem;
      font-size: 1rem;
    }  

    &__item:before {
      left: -4rem;
      top: 6px;
      border-radius: 2.25rem;
      width: 2.25rem;
      height: 2.25rem;
      line-height: 2.25rem;
      font-size: .9rem;
    }
  }
}