//@import '../css/bootstrap.min.css';


//$font-stack:    Helvetica, sans-serif;



// $theme-colors: (
//   "primary": #0074d9,
//   "danger": #ff4136,
//   "custom-color": #900
// );

//body {
//  font: 100% $font-stack;
//}

// @mixin border-radius($radius) {
//   -webkit-border-radius: $radius;
//   -moz-border-radius: $radius;
//   -ms-border-radius: $radius;
//   border-radius: $radius;
// }

// .box { @include border-radius(10px); }

html {
  font-size: 100%;
}

.body-page {
  margin: 0;
  padding: 0;
  font-family: 'century gothic';
  color: #737373;

  &__popup-layout {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    box-sizing: border-box;
    background: rgba(13, 13, 13, .9);
    width: 100%;
    height: 100%;
  }

  &__popup-layout--active {
    display: block;
  }

  &__popup-menu {
    position: absolute;
    top: 0;
    left: calc(50%-150px);
    display: flex;
    flex-direction: column;
    margin-top: 47px;
    transform: translate(150px 125px);
    background: transparent;
    width: 300px;
    height: 250px;
  }

  &__popup-close {
    position: absolute;
    background: transparent;
    border: none;
    top: 5px;
    right: 30px;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  &__popup-close:before,
  &__popup-close:after {
    position: absolute;
    top: 18px;
    left: 13px;
    background: #fff;
    width: 24px;
    height: 4px;
    content: "";
  }

  &__popup-close:before {
    transform: rotate(45deg);
  }

  &__popup-close:after {
    transform: rotate(-45deg);
  }
}
