@import 'variables';

.button-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;

  &__reg {
    transition: ease .15s;
    border: none;
    border-radius: 25px;
    background-color: $button-color;
    font-family: 'FuturaPTDemi';
    font-size: .95rem;
    color: #fff;
    cursor: pointer;
    width: 16.3rem;
    height: 3.2rem;
  }

  &__reg:hover {
    background-color: $button-color-hover;
    box-shadow: 0 0 8px rgba(59, 224, 112, 0.9);
  }

  &__text {
    padding-top: .5rem;
    font-family: 'FuturaPTBook';
    font-size: 1.13rem;
  }
}

.button-block--main-questions {
  margin-bottom: 1.1rem;
}

@media (max-width: 830px) {
  .button-block {
    padding: 0 0 8px;
  }
}