@font-face {
  font-family: 'ZingScriptRustSBDemo';
  src: url('../fonts/ZingScriptRustSBDemo-Base.otf');
}

@font-face {
  font-family: 'FuturaPTMedium';
  src: url('../fonts/FuturaPTMedium.otf');
}

@font-face {
  font-family: 'FuturaPTBold';
  src: url('../fonts/FuturaPTBold.otf');
}

@font-face {
  font-family: 'FuturaPTBook';
  src: url('../fonts/FuturaPTBook.otf');
}

@font-face {
  font-family: 'FuturaPTHeavy';
  src: url('../fonts/FuturaPTHeavy.otf');
}

@font-face {
  font-family: 'FuturaPTDemi';
  src: url('../fonts/FuturaPTDemi.otf');
}