@font-face {
  font-family: 'ZingScriptRustSBDemo';
  src: local('ZingScriptRustSBDemo'),
      url(../fonts/ZingScriptRustSBDemo-Base.woff)format('woff'),
      url(../fonts/ZingScriptRustSBDemo-Base.ttf)format('truetype'),
      url(../fonts/ZingScriptRustSBDemo-Base.otf);     
}

@font-face {
  font-family: 'FuturaPTMedium';
  src: local('FuturaPTMedium'),
      url(../fonts/FuturaPTMedium.eot),
      url(../fonts/FuturaPTMedium.eot?#iefix)format('embedded-opentype'),
      url(../fonts/FuturaPTMedium.woff)format('woff'),
      url(../fonts/FuturaPTMedium.ttf)format('truetype'),
      url(../fonts/FuturaPTMedium.otf);  
}

@font-face {
  font-family: 'FuturaPTBold';
  src: local('FuturaPTBold'),
      url(../fonts/FuturaPTBold.eot),
      url(../fonts/FuturaPTBold.eot?#iefix)format('embedded-opentype'),
      url(../fonts/FuturaPTBold.woff)format('woff'),
      url(../fonts/FuturaPTBold.ttf)format('truetype'),
      url(../fonts/FuturaPTBold.otf);
}

@font-face {
  font-family: 'FuturaPTBook';
  src: local('FuturaPTBook'),
      url(../fonts/FuturaPTBook.eot),
      url(../fonts/FuturaPTBook.eot?#iefix)format('embedded-opentype'),
      url(../fonts/FuturaPTBook.woff)format('woff'),
      url(../fonts/FuturaPTBook.ttf)format('truetype'),
      url(../fonts/FuturaPTBook.otf);
}

@font-face {
  font-family: 'FuturaPTHeavy';
  src: local('FuturaPTHeavy'),
      url(../fonts/FuturaPTHeavy.eot),
      url(../fonts/FuturaPTHeavy.eot?#iefix)format('embedded-opentype'),
      url(../fonts/FuturaPTHeavy.woff)format('woff'),
      url(../fonts/FuturaPTHeavy.ttf)format('truetype'),
      url(../fonts/FuturaPTHeavy.otf);
}

@font-face {
  font-family: 'FuturaPTDemi';
  src: local('FuturaPTDemi'),
      url(../fonts/FuturaPTDemi.eot),
      url(../fonts/FuturaPTDemi.eot?#iefix)format('embedded-opentype'),
      url(../fonts/FuturaPTDemi.woff)format('woff'),
      url(../fonts/FuturaPTDemi.ttf)format('truetype'),
      url(../fonts/FuturaPTDemi.otf);
}