@font-face {
  font-family: 'ZingScriptRustSBDemo';
  src: url("../css/fonts/ZingScriptRustSBDemo-Base.otf");
}

@font-face {
  font-family: 'FuturaPTMedium';
  src: url("../css/fonts/FuturaPTMedium.otf");
}

@font-face {
  font-family: 'FuturaPTBold';
  src: url("../css/fonts/FuturaPTBold.otf");
}

@font-face {
  font-family: 'FuturaPTBook';
  src: url("../css/fonts/FuturaPTBook.otf");
}

@font-face {
  font-family: 'FuturaPTHeavy';
  src: url("../css/fonts/FuturaPTHeavy.otf");
}

@font-face {
  font-family: 'FuturaPTDemi';
  src: url("../css/fonts/FuturaPTDemi.otf");
}