@import 'variables';

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url('../img/index/footer-trees.png');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-color: #3e4c57;
  background-size: auto;
  margin: 0;
  padding: 0;
  width: 100%;

  &__logo {
    font-family: 'ZingScriptRustSBDemo';
    font-size: 1.5rem;
    color: #6e7f8c;
    margin: 0 auto;
    padding: 3.95rem 0 1.8rem;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    width: 1030px;
  }

  &__content-item {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 10px 18px;
    height: 100%;
  }

  &__content-item--contact {
    padding-left: 4.75rem;
  }

  &__content-link {
    padding-bottom: 10px;
    text-decoration: none;
    font-size: .9rem;
    font-family: 'FuturaPTMedium';
    color: #fff;
  }

  &__content-link--underline {
    text-decoration: underline;
  }

  &__content-text {
    line-height: 1.75rem;
    font-family: 'FuturaPTBook';
    font-size: 1.13rem;
    color: #6e7f8c;
  }

  &__content-text--tel::before {
    display: block;
    position: absolute;
    left: 1.75rem;
    margin-top: .4rem;
    background-image: url('../img/index/tel.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
    content: '';
  }

  &__content-text--mail::before {
    display: block;
    position: absolute;
    left: 1.75rem;
    margin-top: .4rem;
    background-image: url('../img/index/mail.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
    content: '';
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    padding: 92px 15px 20px;
  }

  &__copyright {
    font-family: 'FuturaPTBook';
    font-size: 1.13rem;
    color: #6e7f8c;
  }

  &__payments {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    width: 64%;
  }

  &__payments-link {
    margin: 0 15px;
    padding-bottom: 5px;
  }

  &__payments-icon {
    width: auto;
  }
}  
 
@media (max-width: 1060px) { 
  .footer {
    &__content {
      max-width: 100%;
    } 
  
    &__bottom {
      max-width: 100%;
      flex-direction: column-reverse;
      padding: 50px 0;
      justify-content: justify;
      align-items: center;
    }

    &__payments {
      align-items: center;
      justify-content: center;
      width: 100vw;
    }
  }
}  

@media (max-width: 960px) {
  .footer__content {
    justify-content: center;
  }
}

@media (max-width: 738px) {
  .footer {
    &__content-item:nth-child(3) {
      order: 5;
      width: 100%;
      align-items: center;
    }

    &__content-item:nth-child(4) {
      order: 3;
    }

    &__content-item:nth-child(5) {
      order: 4;
    }
  } 
}

@media (max-width: 830px)  {
  .footer {
    &__logo {
      padding: 1.58rem 0 1.15rem;
    }

    &__content-item {
      padding: 5px 40px 7px;
    }

    &__content-text--tel::before {
      left: -.4rem;
    }
  
    &__content-text--mail::before {
      left: -.4rem;
    }

    &__content-link {
      padding-bottom: 8px;
      font-size: .94rem;
    }

    &__bottom {
      padding: 15px 0 33px;
    }

    &__content-link--mobile {
      padding: 6px 0 2px
    }
    
    &__payments {
      width: 95%;
    }
  
    &__payments-link {
      margin: 0 12px;
      padding-bottom: 33px;
    }

    &__payments-link:first-child {
      margin-left: 5px;
    }

    &__payments-link:last-child {
      margin-right: 5px;
    }
  
    &__payments-icon {
      width: 100%;
    }
  }
}

@media (min-width: 768px) {
  .footer__payments-link:last-child {
    margin-right: 0;
  }
}

@media (max-width: 680px) {
  .footer__content-item--contact {
    margin-left: 30px;
  }
}

@media (max-width: 340px) {
  .footer__content-item--mobile {
    padding: 5px 0px;
  }
}