@import 'variables';

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0;

  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  &__list-item {
    display: flex;
    flex-direction: column;
    margin: 24px 0 -3px 0;
  }

  &__checkbox-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 16px;
  }
  
  &__checkbox-label {
    display: block;
    position: relative;
    user-select: none;
    margin: 0 0 12px 40px;
    width: 27%;
    line-height: 20px;
    font-size: 1rem;
    font-family: 'FuturaPTBook';
    cursor: pointer;
  }
  
  &__checkbox-label:hover &__item-checkbox ~ &__item-checkmark {
    background-color: #ccc;
  }
  
  &__item-checkbox {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    cursor: pointer;
  }
  
  &__item-checkmark {
    position: absolute;
    top: 5px;
    left: -35px;
    border: 2px solid #e0e0e0;
    border-radius: 3px;
    background-color: transparent;
    height: 14px;
    width: 14px;
  }
  
  &__item-checkmark:after {
    position: absolute;
    display: none;
    content: "";
  }
  
  &__item-checkbox:checked ~ &__item-checkmark:after {
    display: block;
  }
  
  &__item-checkmark:after {
    left: 4px;
    top: 0px;
    border: solid $button-color;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    width: 5px;
    height: 8px;
  }

  &__textarea {
    border: 3px solid #e6e6e6;
    outline: none;
    background: transparent;
    margin: 27px 0 20px;
    padding: 5px 15px 15px;
    width: calc(100% -30px);
    font-size: 1rem;
    font-family: 'FuturaPTBook';
  }
}

@media (max-width: 950px) {
  .form {
    width: 100%;

    &__list {
      width: 100%;
    }
    
    &__checkbox-area {
      margin: 22px 0 -6px;
    }
    
    &__checkbox-label {
      width: 40%;
    }

    &__textarea {
      margin-top: 17px;
    }
  }
}

@media (max-width: 470px) {
  .form {
    &__checkbox-label {
      width: 90%;
    }
  }
}