@import 'variables';

.form-button {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__save-day-btn {
    transition: ease .15s;
    border: none;
    border-radius: 30px;
    background-color: $button-color;
    margin-bottom: 5px;
    cursor: pointer;
    width: 12.5rem;
    height: 3.7rem;
    text-transform: uppercase;
    font-family: 'FuturaPTDemi';
    font-size: .95rem;
    color: #fff;
  }

    &__save-day-btn:hover {
    background-color: $button-color-hover;
    box-shadow: 0 0 8px rgba(59, 224, 112, 0.9);
  }

  &__save-day-btn--saved {
    background-color: #f2f2f2;
    color: $second-grey;
  }

  &__save-day-btn--saved:hover {
    background-color: #f2f2f2;
    box-shadow: none;
  }

  &__btn-span {
    margin-bottom: 15px;
    font-family: 'FuturaPTBook';
    font-size: 18px;
    color: $first-grey;
  }

  &__btn-span--no-promo {
    margin-bottom: 0;
  }

  &__edit-day-btn {
    background: transparent;
    border: none;
    outline: none;
    margin-bottom: 15px;
    cursor: pointer;
    text-decoration: underline;
    font-size: 18px;
    font-family: 'FuturaPTMedium';
    color: $second-grey;
  }

  &__edit-day-btn:hover {
    text-decoration: none;
  }

  &__text {
    margin: 0 auto 15px;
    line-height: 28px;
    text-align: center;
    font-family: 'FuturaPTBook';
    font-size: 20px;
  }
}