.header {
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: url("../img/header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  width: 100%;

  &__top {
    background-color: rgba(15, 8, 8, 0.459);
    padding: 3px 0;
  }

  &__top-content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1000px;
    color: #fff;
  }
}