.header-form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 25px;

  &__btn {
    transition:all .25s linear;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 20px;
    background-color: transparent;
    padding: 9px 25px;
    font-size: .95rem;
    font-family: 'FuturaPTMedium';
    color: #fff;
    cursor: pointer;
  }

  &__btn:first-child:hover {
    border: 1px solid #fff;
  }

  &__btn:last-child {
    border: 1px solid #fff;
    margin: 0 0 0 2px;
  }

  &__btn:first-child:hover ~ &__btn:last-child {
    border-color: transparent;
  }
}

@media (max-width: 830px) {
  .header-form {
    display: none;

    &--active {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0;
      padding: 0;
    }

    &__btn {
      transition: none;
      border: none;
      border-radius: 20px;
      padding: 9px 25px;
      line-height: 3.13rem;
      font-size: 1.38rem;
    }
  
    &__btn:first-child {
      padding: 0;
    }
  
    &__btn:last-child {
      border: 1px solid #fff;
      margin-top: 22px;
      padding: 5px 25px;
      line-height: 28px;
      font-size: .95rem;
    }
  
    &__btn:first-child:hover ~ &__btn:last-child {
      border-color: #fff;
    }
  }
}