.header-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  padding-left: 25px;

  &__btn {
    -webkit-transition:all .25s linear;
    transition:all .25s linear;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 20px;
    background-color: transparent;
    padding: 9px 25px;
    font-size: .95rem;
    font-family: 'FuturaPTMedium';
    font-weight: 400;
    color: #fff;
    cursor: pointer;
  }

  &__btn:first-child:hover {
    border: 1px solid #fff;
  }

  &__btn:last-child {
    border: 1px solid #fff;
    margin: 0 0 0 2px;
  }

  &__btn:first-child:hover ~ &__btn:last-child {
    border-color: transparent;
  }
}

@media (max-width: 830px) {
  .header-form {
    display: none;
  }
}