.header-nav {
  position: relative;

  &__mobile-btn {
    display: none;
    position: relative; 
    width: 1.5rem; 
    height: 1rem;
    border-top: 0.25rem solid #fff; 
    border-bottom: 0.25rem solid #fff;
  }

  &__mobile-btn:before { 
    content: ""; 
    position: absolute; 
    top: .35rem; 
    left: 0; 
    width: 100%; 
    border-top: 0.25rem solid #fff; 
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    min-width: 320px;
    list-style: none;
  }

  &__link {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    font-size: .95rem;
    color: #fff;
  }
}


@media (max-width: 830px) {
  .header-nav {

    &__mobile-btn {
      display: block;
  }

    &__list {
      display: none;
    }

    &__list--active {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      padding: 0;
      width: inherit;
      min-width: 300px;
      list-style: none;
    }

    &__link {
      margin: 0;
      padding: 0;
      line-height: 3.13rem;
      font-family: 'FuturaPTMedium';
      font-size: 1.38rem;
    }

    &__item {
      margin: 0;
      padding: 0;
    }
  }
}