.header-nav {
  position: relative;

  &__mobile-btn {
    display: none;
    color: #fff;
    padding: 5px;
    cursor: pointer;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    min-width: 320px;
    list-style: none;
  }

  &__link {
    display: block;
    text-decoration: none;
    font-weight: 400;
    font-size: .95rem;
    color: #fff;
  }

  &__line {
    position: absolute;
    bottom: -5px;
    left: 0;
    -webkit-transition:all .33s linear;
    transition:all .33s linear;
    width: 63px;
    height: 2px;
    background: #fff;
  }

  .header-nav__item--goal:hover ~ &__line {
    -webkit-transform:translate(112px);
    transform:translate(112px);
    transition:all .33s linear;
    -webkit-transition:all .33s linear;
    width: 85px;
  }

  .header-nav__item--contacts:hover ~ &__line {
    -webkit-transform:translate(248px);
    transform:translate(248px);
    -webkit-transition:all .33s linear;
    transition:all .33s linear;
    width: 73px;
  }
}


@media (max-width: 767px) {
  .header-nav {

    &__mobile-btn {
      display: block;
  }

    &__list {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
    }

    &__list--active {
      display: block;
      flex-direction: column;
    }
  }
}