.new-pass {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  height: 100%;

  &__text {
    margin-top: 79px;
    padding: 0 20px;
    line-height: 20px;
    text-align: center;
    font-family: 'FuturaPTBook';
    font-size: 20px;
    color: #737373;
  }

  &__button-index {
    background-color: #20b208;
    border: none;
    border-radius: 25px;
    margin-top: 12px;
    width: 180px;
    height: 50px;
    font-family: 'FuturaPTDemi';
    font-size: 15px;
    color: #fff;
  }

  &__button-index:hover {
    box-shadow: 0 0 5px #20b208;
    background-color: #2dbd17;
  }

  &__close-btn {
    position: absolute;
    background: transparent;
    border: none;
    top: -25px;
    right: -25px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  &__close-btn:before,
  &__close-btn:after {
    position: absolute;
    top: 10px;
    left: 0px;
    background: #fff;
    width: 14px;
    height: 2px;
    content: "";
  }

  &__close-btn:before {
    transform: rotate(45deg);
  }

  &__close-btn:after {
    transform: rotate(-45deg);
  }
}

@media (max-width: 830px) {
  .new-pass {
    width: 470px;
    height: 190px;
    top: calc(50%-95px);
    left: calc(50%-235px);

    &__text {
      margin-top: 52px;
      font-size: 16px;
    }
  
    &__button-index {
      margin-top: 5px;
    }
      
    &__close-btn {
      top: 15px;
      right: 15px;
      width: 22px;
      height: 22px;
    }
  
    &__close-btn:before,
    &__close-btn:after {
      top: 10px;
      left: 0;
      background: #979797;
      width: 18px;
    }
  }
}

@media (max-width: 500px) {
  .new-pass {
    width: 90vw;
    top: calc(50%-95px);
    left: calc(50% - 90vw * .5);
  }
}