.news-block {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  max-width: 1000px;
  margin: 30px 15px 30px;

  &__item {
    border-bottom: 1px solid #e1e1e1;
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    padding: 29px 30px;
  }

  &__item:first-child {
    border-top: 1px solid #e1e1e1;
  }

  &__item:nth-child(3) {
    border-bottom: none;
  }

  &__description {
    height: auto;
  }

  &__picture {
    float: left;
    padding-right: 40px;
    padding-bottom: 0;
    width: 170px;
    height: 130px;
  }

  &__item-title {
    margin-top: 2px;
    margin-bottom: .5rem;
    font-family: 'FuturaPTBold';
    font-size: 1.25rem;
    color: #575757;
  }

  &__item-text {
    margin: 0;
    font-family: 'FuturaPTBook';
    font-size: 1.13rem;
  }

  &__link-field {
    display: flex;
    border: 1px solid #e1e1e1;
    border-top: none;
    margin-top: -4px;
    padding-left: 27px;
    max-width: 971px;
    width: calc(100vw - 32px);
  }

  &__link {
    transition: ease .15s;
    margin: 0 auto 38px;
    text-decoration: none;
    font-family: 'FuturaPTBook';
    font-size: 1.25rem;
    color: #3b3d45;
  }

  &__link:hover > &__link-word {
    border-bottom: none;
  }

  &__link-word {
    border-bottom: 1px solid #3b3d45;
    margin-right: 7px;
  }
}
