@import 'variables';

.profile-item{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-right: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
  padding: 40px 50px;
  width: calc(50%-2px);
  max-width: 398px;

  &:first-child {
    border-left: 1px solid #e6e6e6;
  }

  &:nth-child(3) {
    border-left: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
  }

  &:last-child {
    border-bottom: 1px solid #e6e6e6;
  }

  &__title {
    margin-top: 0;
    padding-top: 0;
    text-transform: uppercase;
    font-family: 'FuturaPTDemi';
    font-size: 35px;
    color: $second-grey;
  }

  &__link {
    border: 2px solid #e6e6e6;
    border-radius: 30px;
    transition: ease .15s;
    padding: 13px 25px;
    text-decoration: none;
    text-align: center;
    font-family: 'FuturaPTDemi';
    font-size: 15px;
    color: $first-grey;
  }

  &__link:hover {
    background-color: $button-color-hover;
    box-shadow: 0 0 8px rgba(59, 224, 112, 0.9);
    border-color: $button-color-hover;
    color: #fff;
  }

  &__text {
    margin: 0 0 10px;
    line-height: 26px;
    text-align: center;
    font-family: 'FuturaPTBook';
    font-size: 20px;
    color: $first-grey;
  }

  &__text--payment {
    margin: 20px 0 5px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__form-password {
    margin-top: 8px;
  }

  &__form-select {
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    background-color: #f5f5f5;
    margin: 0 0 20px 0;
    padding-left: 15px;
    width: 240px;
    height: 50px;
    font-family: 'FuturaPTBook';
    font-size: 18px;
    color: $first-grey;
    //стилизация стрелки
    appearance: none;
    background-image: url('../img/index/select-arrow.png');
    background-position: 92% 50%;
    background-repeat: no-repeat;
  }

  &__form-option {
    height: 50px;
    line-height: 50px;
    font-family: 'FuturaPTBook';
    font-size: 18px;
    color: $first-grey;
  }

  &__form-button {
    transition: ease .15s;
    border: none;
    border-radius: 25px;
    background-color: $button-color;
    font-family: 'FuturaPTDemi';
    font-size: .95rem;
    color: #fff;
    cursor: pointer;
    width: 140px;
    height: 50px;
  }

  &__form-button:hover {
    background-color: $button-color-hover;
    box-shadow: 0 0 8px rgba(59, 224, 112, 0.9);
  }

  &__button {
    transition: ease .15s;
    border: none;
    border-radius: 25px;
    background-color: $button-color;
    margin: 40px 0 50px;
    padding: 0 35px;
    font-family: 'FuturaPTDemi';
    font-size: .95rem;
    color: #fff;
    cursor: pointer;
    width: auto;
    height: 50px;
  }

  &__button:hover {
    background-color: $button-color-hover;
    box-shadow: 0 0 8px rgba(59, 224, 112, 0.9);
  }

  &__form-input {
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    background-color: #f5f5f5;
    margin: 0 0 10px 0;
    padding-left: 15px;
    width: 300px;
    height: 46px;
    font-family: 'FuturaPTBook';
    font-size: 18px;
    color: #a6a6a6;
  }

  &__btn-block {
    display: flex;
    margin-top: 15px;
  }

  &__form-button--reset {
    transition: ease .15s;
    border: 2px solid #e6e6e6;
    border-radius: 25px;
    background-color: #fff;
    margin-right: 10px;
    font-family: 'FuturaPTDemi';
    font-size: .95rem;
    cursor: pointer;
    width: 140px;
    height: 50px;
    color: $first-grey;
  }

  &__form-button--reset:hover {
    background-color: $button-color-hover;
    box-shadow: 0 0 8px rgba(59, 224, 112, 0.9);
    border-color: $button-color-hover;
    color: #fff;
  }
}

@media (max-width: 1029px)  {
  .profile-item{
    border-left: 1px solid #e6e6e6;

    &:nth-child(3) {
      border-bottom: none;
    }
  }
}

@media (max-width: 830px)  {
  .profile-item{
    padding: 24px 20px 36px;
    width: calc(100%-40px);
    max-width: 500px;
  
    &__title {
      margin-bottom: 10px;
      font-size: 20px;
    }
  
    &__link {
      padding: 13px 23px;
    }
    
    &__text {
      font-size: 16px;
    }

    &__form {
      margin-top: 13px;
    }

  
    &__text--payment {
      margin: 0;
    }
    
    &__button {
      margin: 18px 0 26px;
    }
  
    &__btn-block {
      display: flex;
      margin-top: 19px;
    }
  }
  
  @media (max-width: 475px)  {
    .profile-item{
      padding: 24px 15px 40px;
      width: calc(100%-30px);

      &__form-input {
        width: 240px;
      }

      &__btn-block {
        flex-direction: column;
      }

      &__form-button--reset {
        margin-bottom: 10px;
      }

      &__button {
        padding: 0 15px;
        text-align: center;
        word-wrap: wrap;
      }
    }
  }
}