@import 'variables';

.questions {

  &__item {
    margin-left: 3rem;
    margin-bottom: 2rem;
  }
  
  &__item:last-child {
    margin-bottom: 2.35rem;
  }

  &__title {
    position: relative;
    margin-bottom: .7rem;
    font-family: 'FuturaPTHeavy';
    font-size: 1.63rem;
  }

  &__title:first-child {
    margin-top: 2rem;
  }

  &__title:before {
    position: absolute;
    left: -35px;
    top: .55rem;
    margin-top: .35rem;
    content: '';
    font-size: .7rem;
    color: #c0c1c5;
    width: 8px;
    height: 8px;
    border: 2px solid #c0c1c5;
    border-radius: 15px;
  }

  &__answer {
    position: relative;
    margin-top: 0;
    font-family: 'FuturaPTBook';
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  &__answer:before {
    position: absolute;
    left: -3rem;
    top: 0;
    content: url('../img/index/quotes-grey.png');
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 830px) {
  .questions {

    &__item {
      margin-left: 2.2rem;
      margin-bottom: 1.12rem;
    }

    &__item:last-child {
      margin-bottom: 2rem;
    }

    &__title {
      margin-top: 14px;
      margin-bottom: 4px;
      font-size: 1.25rem;
    }

    &__answer {
      margin-bottom: 2px;
      font-size: 1rem;
      line-height: 1.44rem;
    }

    &__title:before {
      left: -2rem;
      top: 0rem;
    }

    &__title:first-child {
      margin-top: 1rem;
    }
  }
}